
    #img1688{
        width: 100px;
        height: 100px;
        margin: 20px;
    }
    #search{
        height: 40px;
        border: 2px solid orangered;
        margin-top: 40px;
        margin-left: 20px;
    }
    #searcher{
        height: 40px;
        border: 2px solid orangered;
        margin-top: 40px;
        background: orangered;
        color: white;
        text-align: center;
        line-height: 40px;
    }
    #imgerweima{
        margin: 10px 40px;
        width: 120px;
        height: 120px;
    }
    #content{
        padding: 10px;
        #contentNav{
            font-weight: bold;
            margin-bottom: 20px;
        }
        #bannerLeft{
           
            li{
                font-weight: bold;
                text-align: center;
            }        
        }
        .hover{
            background: red;
            color:white;
        }
        #bannerCenter{
            *{
                margin: 0;
                padding: 0;
            }
            #box{
                position: relative;
                width: 770px;
                height: 420px;
                margin: 0 auto;
                overflow: hidden;
                #carousel{
                    position: absolute;
                    z-index: 1;
                    li{
                        list-style: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .imgActive{
                        z-index: 1;
                    }
                    
                }
                #btns{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    height: 100px;
                    margin-top: -50px;
                    display: flex;
                    justify-content: space-between;
                    line-height: 100px;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                    z-index: 1;
                    div{
                        flex-basis: 40px;
                        cursor: pointer;
                        background-color: rgba(224, 18, 18, 0.3) 
                    }
                }
                #cirs{
                    z-index: 1;
                    position: absolute;
                    bottom: 10px;
                    left: 30%;
                    right: 30%;
                    height: 40px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    li{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: orangered;
                        list-style: none;                       
                    }
                    .active{
                        background-color: red;
                    }
                }
            }
        }
        #list{
            margin: 10px;
            #paginationContainer{
                li{
                    list-style: none;
                }
                .uls{
                    width: 100%;
                    overflow: hidden;
                }
                .lis{
                    width: 250px;
                    height: 350px;
                    float: left;
                    margin: 5px;
                    border: 1px solid #ccc;
                }
                .lisImg{
                    img{
                        width: 200px;
                        height: 200px;
                        margin: 0 25px; 
                    }
                    div p{
                        display: flex;
                        justify-content:space-around; 
                    }               
                }
                h6{
                    margin: 10px;
                    height:80px;
                }
            }
        }
    }
    #footer{
        #footerbox{
            border-top: 3px solid orangered;
            ul{
                list-style: none;
                li{
                    float: left;
                    font-size: 14px;
                }
            }
        }
    }
 